body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Hero Section */
.hero {
    margin-top: 0px;
    position: relative;
    z-index: 0;
    padding: 0 50px; /* 左右の余白を追加 */
}

.hero-container {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* 動画のスタイルを追加 */
.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; /* 角丸を追加（数値は調整可能） */
    margin-top: 50px; /* 上部の余白を追加 */
}